/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 */

 /* @config "./tailwindcss-config.js"; */

 /* src/index.css */
@font-face {
  font-family: 'font-upakarti'; 
  src: url('/fonts/upakarti.ttf') format('truetype'); 
}
@font-face {
  font-family: 'font-neothic'; 
  src: url('/fonts/Neothic.ttf') format('truetype'); 
}
@font-face {
  font-family: 'font-inter'; 
  src: url('/fonts/Inter-Regular.ttf') format('truetype'); 
}



 /* @import "./public/fonts/upakarti.ttf";  */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;

