@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html, body {
  overflow-x: hidden;
}

@keyframes scanning {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scanning {
  animation:  scanning .5s linear infinite alternate;
  /* height: 20px;  Mengatur tinggi elemen animasi menjadi 20px  */
}


.scanning-animation {
  width:100%;
  height:100%;
  position:relative;
}
.scanning-animation::before {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  width: 100%;
  height: 20px;
  background:#18c89b;
  box-shadow:0 0 70px 20px #18c89b;
  clip-path:inset(0);
  animation:
    x 1.5s ease-in-out infinite alternate,
    y 3s   ease-in-out infinite;
}

@keyframes x {
  to {
    transform:translateY(-100%);
    top:100%;
  }
}

@keyframes y {
  33% {
    clip-path: inset(-100px 0 0 0);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 0 -100px 0);
  }
}


.chart-container .chartjs-dataset-0 .chartjs-label {
  color: white; /* Ganti dengan warna yang diinginkan */
}


.input-container {
  position: relative;
  margin: 20px;
  margin-top: 30px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  transition: border-bottom 0.3s;
}

.input-field:focus, .input-field:valid {
  border-bottom: 2px solid #2196F3;
}

.input-label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field:focus ~ .input-label, .input-field:valid ~ .input-label {
  top: -20px;
  font-size: 12px;
  color: white;
}


.App {
  height: 100%;
  padding: 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App > * {
  margin: 3px 0;
}

.header {
  text-align: center;
}

.header p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.container-model{
  width: 100%;
  /* max-width: 720px;
  max-height: 500px; */
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.content > img {
  display: none;
  width: 100%;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.content > video {
  display: none;
  width: 100%;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
  z-index: 1;
}

.content {
  position: relative;
}

.content > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.footer-batik{
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='80' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(216, 64%, 29%, 1)'/><path d='M69.84 0l-7.86 7.86L54.1 0l7.87-7.86zm18.02 18.02L80 25.88l-7.86-7.86L80 10.16zm-80 43.96L0 69.84l-7.86-7.86L0 54.1zM25.88 80l-7.86 7.86L10.16 80l7.86-7.86zm36.1-7.86L69.84 80l-7.86 7.86L54.1 80zM80 54.1l7.86 7.87L80 69.84l-7.86-7.86zM0 10.16l7.86 7.86L0 25.88l-7.86-7.86zM18.02-7.86L25.88 0l-7.86 7.86L10.16 0z'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(205,42.1%,79%,1)' fill='none'/><path d='M48.1 80c0 4.47-3.63 8.1-8.1 8.09A8.1 8.1 0 1148.1 80zm6.26-40H71.6M40 71.9V54.38m0-28.74V8.09m5.24 12.3a20.3 20.3 0 0114.37 14.37m0 10.48a20.3 20.3 0 01-14.38 14.37m-10.48 0A20.3 20.3 0 0120.4 45.24m0-10.48a20.3 20.3 0 0114.37-14.37M5.72 45.72A8.1 8.1 0 11-6.22 34.78 8.1 8.1 0 015.72 45.72zm80 0a8.1 8.1 0 11-11.94-10.94 8.1 8.1 0 0111.94 10.94zM48.09 0c0 4.47-3.62 8.1-8.09 8.09A8.07 8.07 0 0131.9 0 8.1 8.1 0 0148.1 0zM40 25.63L54.37 40 40 54.37 25.63 40zm5.72-19.91l28.1 29.02m.22 11.22L45.72 74.28m-11.44 0L5.72 45.72M5.24 34.3L34.28 5.72M8.08 40h17.55'  stroke-linecap='square' stroke-width='0.5' stroke='hsla(200,33%,54.3%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-144,0)' fill='url(%23a)'/></svg>")}